html {
  font-family: "Cabin", sans-serif;
  font-size: 62.5%;
  margin: 0;
}

p {
  font-size: 18px;
}

.button {
  background-color: #000;
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: bold;
}

.header {
  background-color: #F0EEEB;
}
.header .header__notification {
  background-color: #000;
}
.header .header__notification .notification__text {
  margin: 0;
  padding: 20px clamp(20px, 6vw, 1440px);
  color: #FFF;
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.7;
  font-weight: 700;
}
.header .header__notification .notification__text .text__link {
  color: #FFF;
}
@media screen and (min-width: 1440px) {
  .header .header__notification .notification__text {
    padding: 10px 0;
  }
}
@media screen and (min-width: 1440px) {
  .header .header__notification {
    height: 50px;
  }
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px clamp(20px, 6vw, 1440px);
}
@media screen and (min-width: 1440px) {
  .header .navbar {
    padding: 40px 150px;
  }
}
.header .navbar .navbar__logo {
  font-weight: 700;
  font-size: 2rem;
}
.header .navbar .navbar__wrapper {
  display: flex;
}
@media screen and (min-width: 768px) {
  .header .navbar .navbar__wrapper {
    flex-basis: auto;
  }
}
@media screen and (min-width: 1440px) {
  .header .navbar .navbar__wrapper {
    flex-basis: 70%;
    justify-content: space-between;
  }
}
.header .navbar .navbar__list {
  display: none;
  list-style: none;
}
.header .navbar .navbar__list .list__item {
  margin-right: 24px;
}
.header .navbar .navbar__list .list__item .list_link {
  text-decoration: none;
  color: #000;
  font-size: 1.8rem;
}
@media screen and (min-width: 768px) {
  .header .navbar .navbar__list {
    display: flex;
    align-items: center;
  }
}
.header .navbar .navbar__link .navbar__menu {
  font-size: 2rem;
  color: #000;
}
@media screen and (min-width: 768px) {
  .header .navbar .navbar__link .navbar__menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header .navbar .navbar__link {
    display: none;
  }
}
.header .navbar__right {
  display: none;
}
.header .navbar__right .list_link {
  font-size: 1.8rem;
  text-decoration: none;
  color: #000;
  margin-right: 24px;
}
.header .navbar__right .button--navbar {
  display: none;
  width: 137px;
  height: 58px;
}
@media screen and (min-width: 768px) {
  .header .navbar__right .button--navbar {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .header .navbar__right {
    display: block;
    display: flex;
    align-items: center;
  }
}

.hero {
  background-color: #F0EEEB;
}
@media screen and (min-width: 1440px) {
  .hero {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 150px 70px 150px;
  }
}
.hero .hero__container {
  position: relative;
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (min-width: 1440px) {
  .hero .hero__container {
    width: 425px;
    height: 520px;
  }
}
.hero .hero__container .hero__img {
  background-image: url("../assets/images/img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  min-width: 374px;
  height: 500px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .hero .hero__container .hero__img {
    height: 366px;
  }
}
@media screen and (min-width: 1440px) {
  .hero .hero__container .hero__img {
    width: 425px;
    height: 520px;
  }
}
.hero .hero__container .hero__box {
  position: absolute;
  top: 30px;
  left: 70px;
  background-color: #FFF;
  border-radius: 10px;
  width: 180px;
  height: 160px;
  padding: 20px clamp(20px, 1vw, 1440px);
}
.hero .hero__container .hero__box .box__title {
  font-size: 1.6rem;
  margin: 0 0 14px 0;
}
.hero .hero__container .hero__box .box__line {
  border-top: 1px solid #E2E2E2;
  margin: 0;
}
.hero .hero__container .hero__box .box__price {
  font-weight: bold;
  margin: 14px 0;
}
.hero .hero__container .hero__box .button--box {
  padding: 12px clamp(35px, 1vw, 1440px);
}
.hero .hero__content {
  padding: 0 clamp(20px, 6vw, 1440px);
}
.hero .hero__content .content__title {
  font-size: 3.6rem;
  font-weight: bold;
  margin: 40px 0 10px 0;
}
@media screen and (min-width: 768px) {
  .hero .hero__content .content__title {
    font-size: 5.6rem;
  }
}
.hero .hero__content .content__text {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.7;
  margin: 0 0 16px 0;
}
.hero .hero__content .content__list {
  list-style: none;
  padding: 0;
}
.hero .hero__content .content__list .list__icon {
  color: #000;
  margin-right: 16px;
}
.hero .hero__content .content__list .list__item {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6;
  color: #5A5444;
  margin-bottom: 8px;
}
.hero .hero__content .content__form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  padding-bottom: 40px;
}
.hero .hero__content .content__form .form__input {
  font-size: 1.8rem;
  border-radius: 5px;
  border: 1px solid #B1B1B1;
  padding: 18px 24px;
  width: 50%;
}
@media screen and (min-width: 768px) {
  .hero .hero__content .content__form .form__input {
    margin-right: 16px;
  }
}
.hero .hero__content .content__form .form__input::placeholder {
  color: #ADADAD;
  font-size: 1.8rem;
}
.hero .hero__content .content__form .button--form {
  padding: 18px clamp(20px, 6vw, 1440px);
}
@media screen and (min-width: 768px) {
  .hero .hero__content .content__form {
    justify-content: flex-start;
  }
}

.content2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 48px 0;
}
.content2 .logos__img {
  width: 126px;
}
@media screen and (min-width: 768px) {
  .content2 .logos__img {
    width: 132px;
  }
}
.content2 .logos__img:nth-child(n+4) {
  display: none;
}
@media screen and (min-width: 768px) {
  .content2 .logos__img:nth-child(n+4) {
    display: inline-block;
  }
}
.content2 .logos__img:nth-child(n+6) {
  display: none;
}
@media screen and (min-width: 1440px) {
  .content2 .logos__img:nth-child(n+6) {
    width: 90px;
    display: inline-block;
  }
}
.content2 .logos__img:not(:last-child) {
  margin-right: 10px;
}
@media screen and (min-width: 1440px) {
  .content2 .logos__img:not(:last-child) {
    margin-right: 30px;
  }
}

/*# sourceMappingURL=sass.main.css.map */
