@use 'variables' as v;
.content2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 48px 0;
    .logos__img {
        width: 126px;
        @include v.breakpoint(tablet) {
            width: 132px;
        }
    }
    .logos__img:nth-child(n + 4) {
        display: none;
        @include v.breakpoint(tablet) {
            display: inline-block;
        }
    }
    .logos__img:nth-child(n + 6) {
        display: none;
        @include v.breakpoint(desktop) {
            width: 90px;
            display: inline-block;
        }
    }
    .logos__img:not(:last-child) {
        margin-right: 10px;
        @include v.breakpoint(desktop) {
            margin-right: 30px;
        }
    }
}