@use 'variables' as v;

html {
    font-family: v.$family-font-cabin;
    font-size: 62.5%;
    margin: 0;
}
p {
    font-size: 18px;
}
.button {
    background-color: v.$primary-color;
    border: none;
    border-radius: 5px;
    color: v.$just-white;
    font-size: 1.6rem;
    font-weight: bold;
}