@use 'variables' as v;

html {
    font-family: v.$family-font-title;
    font-size: 62.5%;
}

body {
    font-size: v.$font-size-text;
}

img {
    max-width: 100%;
    height: auto;
  }

h1, h2 {
    font-size: v.$font-size-titleBig;
    line-height: 43.74px;
  }

p {
    font-family: v.$family-font-text;
    line-height: 27px;
}

span {
    font-size: 1.6rem;
}

